syntax: glob
PwdCrypter/PwdCrypter.Android/bin/*
PwdCrypter/PwdCrypter.Android/obj/*
.vs/PwdCrypter/DesignTimeBuild/*
.vs/PwdCrypter/v15/*
PwdCrypter/PwdCrypter.UWP/bin/*
PwdCrypter/PwdCrypter.UWP/obj/*
PwdCrypter/PwdCrypter/bin/*
PwdCrypter/PwdCrypter/obj/*
PwdCrypterNativeMessagingHost/bin/*
PwdCrypterNativeMessagingHost/obj/*
PwdCrypterNativeMessagingHost/packages/*
PwdCrypterNativeMessagingHost/setup/*
PwdCrypterNativeMessagingHost/.vs/*
PwdCrypter/PwdCrypter.UWP/_pkginfo.txt
PwdCrypter/PwdCrypter.UWP/AppPackages/*
PwdCrypter/PwdCrypter.UWP/BundleArtifacts/*
PwdCrypter/PwdCrypter.UWP/Package.StoreAssociation.xml
PwdCrypter/PwdCrypter.UWP/PwdCrypter.UWP_StoreKey.pfx
PwdCrypter/PwdCrypter.UWP/ChromeExtension/*zip
PwdCrypter/PwdCrypter.UWP/FirefoxExtension/*zip
*.apk
/.vs/PwdCrypter/v16/Server/sqlite3
*.suo
*.jar
PwdCrypterBackground/bin/*
PwdCrypterBackground/obj/*
/PwdCrypter/PwdCrypter/*.user
